.bookingform
{
    width: 80%;
}

#boatname{
    height: 100px;
    font-size: 40px; padding-right: 29px; display: inline-block;
    width: 600px;
}


  .timebuttontext
  {
      text-align: center;
  }

  .card {
    margin: 0 auto; /* Added */
    float: none; /* Added */
    margin: 10px; /* Added */
    padding: 10px;
    width: 20rem;
  }
  
  #bookingtable {
    overflow:auto;
    height:594px;
    
    }
  @media screen and (max-width: 600px) {
  
    #bookingtable {
      overflow:auto;
      height:640px;

      }
      .card {
        margin: 0 auto; /* Added */
        float: none; /* Added */
        margin: 10px; /* Added */
        padding: 10px;
        width: 21rem;
      }
      
    }
  
  
 



  input{
    background-color: red;
  }

  .btn-primary, .btn-primary:hover, .btn-primary:active, .btn-primary:visited {
    background-color: #E6F2FF !important;
    color: #012165 !important;
    border: none;
}

.navbar-custom { 
  background-color: #E6F2FF; 
  color: #012165;

} 
/* Modify brand and text color */ 

.navbar-custom .navbar-brand, 
.navbar-custom .navbar-text { 
  color: #012165 !important; 

}

.navbar-brand{
  height: 1;
}

.nav-link{
  color: #012165 !important; 

}

.custom-toggler.navbar-toggler {
  border-color: rgb(1,33,101);
} 

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(1,33,101, 0.9)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}




.heading1{
  text-align: center;
}


.form{
  max-width: 100px;
}


footer {
  height: 50px;
}
th {
  background: white;
  position: sticky;
  top: 0;
}


.card-title{
  color: #012165 !important; 

}

.info{
  max-width: 10%; height: 50%;
}